faiss-cpu==1.13.0
httpx==0.28.1
huggingface-hub==0.24.0
igraph==0.11.8
importlib_metadata==8.7.1
matplotlib==3.9.4
numpy==1.26.4
openai==2.41.1
pandas==2.3.3
pyarrow==21.0.0
python-dotenv==1.2.1
python-igraph==0.11.8
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
sentence-transformers==2.2.2
spacy==3.6.1
torch==2.8.0
tqdm==4.68.2
transformers==4.30.2
urllib3==2.6.3
